/* universal */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared */
.btn{
  color: #ffffff;
 font-weight: 600px;
  background-color:#469165 ;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 12px;
  border: none;
}
/* main */
header{
    background-color: #FFFFFF;
}
nav{
    padding: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
}
 nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav ul li a{
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
}