/* universal */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared */
.btn{
  color: #ffffff;
 font-weight: 600px;
  background-color:#469165 ;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 12px;
  border: none;
  cursor: pointer;
}
/* main */
header{
    background-color: #FFFFFF;
    max-width: 1600px;
}
nav{
    padding: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav ul li a{
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
}
.hero{
    background-image: url("../assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    /* padding: 115px 415px 180px; */
    padding-top: 116px;
    background-repeat: repeat-y 92px;
    background-size: cover;
    align-items: center;
}
.hero-container{
align-items: center;
justify-content: center;
text-align: center;
max-width: 1600px;
margin:  0 auto;
}
.white{
    color: #ffffff;
    white-space: nowrap;
    font-size: 72px;
    line-height: 84px;
    justify-content: center;
}
.green{
    color: #30B868;
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
    white-space: nowrap;
}
.hero-content{
    width: 48%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-content .upper{
    color: #30B868;
    background-color: white;
    padding:8px 12px ;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 400;
}
.hero-content p{
    line-height: 24px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px;
}
.mainbtn{
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

}
.hero-btn{
  color: #ffffff;
  background-color:#469165 ;
  display: inline-flex;
   font-weight: 600px;
  border-radius: 4px;
  font-size: 12px;
  padding: 18px 16px;
    border: none;
}
.hero-btn2{
    color: #ffffff;
    background: transparent;
  display: inline-flex;
   font-weight: 600px;
  border-radius: 4px;
  font-size: 12px;
  padding: 17px 16px;
    border: white solid 1px;  
}
