/* universal */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
/* shared */
.btn{
  color: #ffffff;
 font-weight: 600px;
  background-color:#469165 ;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 12px;
  border: none;
  cursor: pointer;
}
.hero-btn{
  color: #ffffff;
  background-color:#469165 ;
  display: inline-flex;
   font-weight: 600px;
  border-radius: 4px;
  font-size: 12px;
  padding: 18px 16px;
    border: none;
    align-items: center;
}
/* main */
header{
    background-color: #FFFFFF;
    max-width: 1600px;
}
nav{
    padding: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav ul li a{
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
}
.hero{
    background-image: url("../assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    /* padding: 115px 415px 180px; */
    padding-top: 116px;
    background-repeat: repeat-y 92px;
    background-size: cover;
    align-items: center; 
}
.hero-container{
align-items: center;
justify-content: center;
text-align: center;
max-width: 1600px;
margin:  0 auto;
}
.white{
    color: #ffffff;
    white-space: nowrap;
    font-size: 72px;
    line-height: 84px;
    justify-content: center;
}
.green{
    color: #30B868;
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
    white-space: nowrap;
}
.hero-content{
    width: 48%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-content .upper{
    color: #30B868;
    background-color: white;
    padding:8px 12px ;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 400;
}
.hero-content p{
    line-height: 24px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px;
}
.mainbtn{
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.hero-btn2{
    color: #ffffff;
    background: transparent;
  display: inline-flex;
   font-weight: 600px;
  border-radius: 4px;
  font-size: 12px;
  padding: 17px 16px;
    border: white solid 1px;  
}
.notes{
    
    justify-content: center;
    align-items: center;
}
.notes-container{
    max-width: 1360px;
   text-align: center;
   margin: 0 auto;
 
   justify-content: center;
   align-items: center;
}
.section-heading{
    max-width: 1360px;
    margin: 0 auto;
    width: 48%;
    padding-top: 50px;
}
.section-heading h2{
   font-weight:bold ;
   font-size: 48px;
   margin-bottom: 16px;
   color: #001931;
   white-space: nowrap;
}
.section-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    white-space: nowrap;
    margin-bottom: 44px;
}
.notes-box{
    max-width: 1360px;
    display: flex;
    gap: 24px;
}
.notes-card{
   background-color: #ffffff;
   border-radius: 8px;
   padding: 24px;
   max-width: 322px ;
   box-shadow: 0 0 8px 0 #00000023;
}
.note-logo{
    background-color: #F95555;
    border-radius: 50%;
    padding: 28px;
    margin-bottom: 16px;
}
.notes-card h2{
    font-weight: 600px;
    font-size: 24px;
    margin-bottom: 16px;
    color: #001931;
}
.notes-card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 22px;
}
.brain{
    padding: 120px;
}
.brain-container{
    display: flex;
    max-width: 1360px;
    width: 85%;
}
.brain-image{
    max-width: 600px;
}
.brain-text{
    padding: 102px 0 102px 60px;
}
.greenery{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500px;
    color: #30B868;
    margin-bottom: 16px;
}
.brain-text-head h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    white-space: nowrap;
}
.brain-text-head .text{
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 40px;
    color: #627382;
}
.brain-text-list ul li{
    text-decoration: none;
    list-style-type: none;
    color: #001931;
    margin-bottom: 16px;
}
.brain-text-list li i{
    color: #30B868;
}
.ready{
    padding-top:120px;
}
.ready-container{
    margin: 0 auto;
    background-color: #F7F6F2;
    max-width: 1360px;
    width: 85%;
    text-align: center;
    padding-bottom: 80px;
}
.ready-text{
    padding-top: 80px;
    margin: 0 auto;
    max-width: 1280px;
}
.ready-text h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
    color: #001931;
}
.ready-text p{
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
    color: #627382;
}
.ready-access p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.footer{
    margin-top:120px;
    background-color: #001931;
}
.footer-container{
    max-width: 1600px;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 120px;
}
.footer-logo{
    /* padding-bottom: 120px 120px 30px 120px; */
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    max-width: 1360px;
    width: 85%;
    /* margin-bottom: 84px; */
    align-items: center;
}
.footer-img{
    color: #FFFFFF;
}
.logo-text{
    max-width: 220px;
}
.logo-text p{
   font-size: 20px;
   font-weight: 500px;
   line-height: 28px;
   color: #FFFFFF;
   white-space: nowrap;
   text-align: left;
   margin-bottom: 16px;
}
.logo2{
    display: flex;
    gap: 8px;
}
.logo2 li{
    list-style: none;
    color: #ffffff;
    max-width: 20px;
}
.footer-text{
    margin-top: 84px;
}
.footer-text p{
   color: #fafafa;
   font-size: 16px;
   line-height: 24px;
}



